<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/util 
        http://www.springframework.org/schema/util/spring-util.xsd        
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">
    
    <tx:annotation-driven transaction-manager="transactionManager"/>    
    
    <bean id="usernameService" class="uy.edu.ort.service.impl.UsernameServiceImpl" >
    </bean>
    
    <bean id="arriboService" class="uy.edu.ort.service.impl.ArriboServiceImpl" >
        <property name="arriboDao" ref="arriboDao"/>
    </bean>
    
    <bean id="partidaService" class="uy.edu.ort.service.impl.PartidaServiceImpl" >
        <property name="partidaDao" ref="partidaDao"/>
        <property name="arriboDao" ref="arriboDao"/>
        <property name="barcoDao" ref="barcoDao"/>
    </bean>
    
    <bean id="barcoService" class="uy.edu.ort.service.impl.BarcoServiceImpl" >
        <property name="arriboDao" ref="arriboDao"/>
        <property name="barcoDao" ref="barcoDao"/>
    </bean>
    
    <bean id="contenedorService" class="uy.edu.ort.service.impl.ContenedorServiceImpl" >
        <property name="contenedorDao" ref="contenedorDao"/>
    </bean>
    
    <bean id="profilingService" class="uy.edu.ort.service.impl.ProfilingServiceImpl" >
        <property name="reporteEjecucionDao" ref="reporteEjecucionDao"/>
    </bean>
    
    <bean id="traceService" class="uy.edu.ort.service.impl.TraceServiceImpl" >
        <property name="traceDao" ref="traceDao"/>
    </bean>
    
    <bean id="arriboDao" class="uy.edu.ort.dao.hibernate.ArriboDaoImpl">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
    </bean>
    
    <bean id="partidaDao" class="uy.edu.ort.dao.hibernate.PartidaDaoImpl">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
    </bean>
    
    <bean id="contenedorDao" class="uy.edu.ort.dao.hibernate.ContenedorDaoImpl">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
    </bean>
    
    <bean id="barcoDao" class="uy.edu.ort.dao.hibernate.BarcoDaoImpl">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
    </bean>
    
    <bean id="reporteEjecucionDao" class="uy.edu.ort.dao.hibernate.ReporteEjecucionDaoImpl">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
    </bean>
    
    <bean id="myBeanPostProcessor" class="uy.edu.ort.beanWiring.MyBeanPostProcessor"></bean>
    
    <!-- Hibernate Template -->
    <bean id="transactionManager"
          class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <bean id="hibernateTemplate"  class="org.springframework.orm.hibernate3.HibernateTemplate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="configLocation" value="classpath:hibernate.cfg.xml"/>
    </bean>
    
    <aop:config>
        
        <aop:aspect id="myProfAspect" ref="profilingAspect" >
            <aop:pointcut id="allServicePC" 
                          expression="execution(* uy.edu.ort.service.*.*(..) )" />
            <aop:around pointcut-ref="allServicePC" method="profile" />
        </aop:aspect>        
    </aop:config>
    
    <bean id="profilingAspect" class="uy.edu.ort.aop.ProfilingAspect" >
        <property name="reporteEjecucionDao" ref="reporteEjecucionDao"/>
    </bean>
    
    <aop:config>
        <aop:aspect id="myTraceAspect" ref="traceAspect" >
            <aop:pointcut id="allDaoPC" expression="execution( * uy.edu.ort.service.*.*(..) )" />
            <aop:after-returning pointcut-ref="allDaoPC" method="trace" />
        </aop:aspect>
     </aop:config>
     
     <bean id="traceAspect" class="uy.edu.ort.aop.TraceAspect">
         <property name="traceDao" ref="traceDao"/>
     </bean>
     
     <bean id="traceDao" class="uy.edu.ort.dao.hibernate.TraceDaoImpl">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
    </bean>
    
    
     
     
        
<!--    
    <bean id="traceAspect" class="uy.edu.ort.aop.TraceAspect">
        <property name="traceDao" ref="traceDao"/>
    </bean>
    
    <bean id="traceDao" class="uy.edu.ort.dao.hibernate.TraceDaoImpl">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
    </bean>-->

</beans>
